<div *ngIf="product.title" class="card">
  <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl" alt="{{product.title}}">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.price | currency:'R$': ''}}</p>
  </div>

  <div class="card-footer" *ngIf="showActions && shoppingCart">
    <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuality" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQuality>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>